<nav id="sideNavParent" class="pdsa-sn-wrapper">

    <ul>
        <li>
            <a [routerLink]="['Courses']">
                <span class="visible-lg visible-md visible-sm"><strong>COURSES</strong></span>
                <i class="glyphicon glyphicon-list-alt visible-xs"></i>
            </a>
        </li>
        <li>
            <a [routerLink]="['Teachers']">
                <span class="visible-lg visible-md visible-sm"><strong>TEACHERS</strong></span>
                <i class="glyphicon glyphicon-list-alt visible-xs"></i>
            </a>
        </li>
        <li>
            <a [routerLink]="['Students']">
                <span class="visible-lg visible-md visible-sm"><strong>STUDENTS</strong></span>
                <i class="glyphicon glyphicon-list-alt visible-xs"></i>
            </a>
        </li>
        <li>
            <a [routerLink]="['SemesterAttendance']">
                <span class="visible-lg visible-md visible-sm"><strong>ATTENDANCE</strong></span>
                <i class="glyphicon glyphicon-list-alt visible-xs"></i>
            </a>
        </li>
    </ul>

</nav>