            <div class="container body-content">
                <div class="row">
                    <div class="col-xs-10 col-lg-12">

                        <ui:include src="/views/addTeacherModalForm.xhtml">
                        </ui:include>

                        <ui:include src="/views/editTeacherModalForm.xhtml"> 
                        </ui:include> 

                        <h1 class="bottomSpace30">Teacher page</h1>
                        
                        </div>
                        </div>
                        </div>